<div class="carousel">
  <!-- Información estática -->
  <div class="carousel-item__info">
    <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">Bienvenido a Home</h2>
      <h1 class="carousel-item__title">Inicia Sesión</h1>
      <div class="carousel-item__description">
        <form>
          <input type="text" id="email" placeholder="Correo Electrónico" />
          <input type="password" id="pass" placeholder="Contraseña" />
          <!-- <button type="submit" class="carousel-item__btn">Iniciar</button> -->
        </form>
        <a href="#" class="carousel-item__btn" id="btn-login">Iniciar</a>
      </div>
    </div>
  </div>

  <!-- Elementos del carrusel -->
  <div class="carousel-item carousel-item--1">
    <div class="carousel-item__image"></div>
  </div>
  <div class="carousel-item carousel-item--2">
    <div class="carousel-item__image"></div>
  </div>
  <div class="carousel-item carousel-item--3">
    <div class="carousel-item__image"></div>
  </div>

  <!-- Flechas Navegación -->
  <div class="carousel__nav">
    <span id="moveLeft" class="carousel__arrow">
      <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"
        ></path>
      </svg>
    </span>
    <span id="moveRight" class="carousel__arrow">
      <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"
        ></path>
      </svg>
    </span>
  </div>
  <img class="floating-logo" src="/img/logo.png" alt="imagen logo fmce" />
</div>
